:root{
    --primaryClr: green;
    --secondaryClr: lightgreen;
    --trClr: yellow;

}
body{
    margin: 0;
    font-size: 1.1rem;

}
*{
    box-sizing: border-box;
}
.wrapper{
    background: linear-gradient(var(--trClr), var(--primaryClr));
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator{
    background: gray;
    width: 400px;
    padding: 2rem 1.5rem;
    border-radius: 10px;
    display: grid;
    gap: 1rem;
    /* grid-template-columns: repeat(4, 1fr); */
    grid-template-areas: "display display display display"
    "ac c percentage divide"
    "b7 b8 b9 multiple"
    "b4 b5 b6 minus"
    "b1 b2 b3 plus"
    "zero dot ans ans";
}
.calculator .btn {
    background-color: var(--trClr);
    height: 50px;
    display: grid;
    justify-content: center;
    align-items: center;

}

.calculator .btn:hover {
    background: var(--secondaryClr); 
   cursor: pointer;
}
.display{
    grid-area: display;
    display: flex;
    background-color: var(--secondaryClr);
    height: 50px;
    justify-content: flex-end;
    align-items: center;
    padding: .5rem;
}
.btn-ac{
    grid-area: ac;
}
.btn-c{
    grid-area: c;
}
.btn-percentage{
    grid-area: percentage;
}
.btn-divide{
    grid-area: divide;
}
.btn-7{
    grid-area: b7;
}
.btn-8{
    grid-area: b8;
}
.btn-9{
    grid-area: b9;
}
.btn-multiple{
    grid-area: multiple;
}
.btn-4{
    grid-area: b4;
}
.btn-5{
    grid-area: b5;
}
.btn-6{
    grid-area: b6;
}
.btn-minus{
    grid-area: minus;
}
.btn-1{
    grid-area: b1;
}
.btn-2{
    grid-area: b2;
}
.btn-3{
    grid-area: b3;
}
.btn-plus{
    grid-area: plus;
}
.btn-zero{
    grid-area: zero;
}
.btn-dot{
    grid-area: dot;
}
.btn-ans{
    grid-area: ans;

}
